/* .App {
  text-align: center;
} */

.App-header {
  background-color: #9eb5e3;
  min-height: 7vh;
  max-height: 8vh;
  padding-left: 14px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

.topnav {
  background-color: gray;
  overflow: hidden;
  
}

.topnav a {
float: left;
color: whitesmoke;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: medium;
font-weight: bold;
}

.topnav a:hover {
  background-color: whitesmoke;
  color: darkgray; 
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
